.parallaxBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.title {
  font-size: 41px;
  font-weight: 300;
}

.subtitle {
  font-size: 21px;
}

.text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}